<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Калькулятор</title>
</head>
<body>
    <script src="{{ url_for('static', filename='calculator.js') }}"></script>
    <div class="buttons">
        <div class="buttons_row">
            <div class="number_input">0</div>
            <div class="calc_btn" onclick="delete_last_digit()">X</div>
        </div>

        <div class="buttons_row">
            <div class="calc_btn" onclick="plus()">+</div>
            <div class="calc_btn" onclick="minus()">-</div>
            <div class="calc_btn">*</div>
            <div class="calc_btn">/</div>
            <div class="calc_btn" onclick="square_root()">√</div>
        </div>
        
        <div class="buttons_row">
            <div class="calc_btn" onclick="save_digit(1)">1</div>
            <div class="calc_btn" onclick="save_digit(2)">2</div>
            <div class="calc_btn" onclick="save_digit(3)">3</div>
            <div class="calc_btn" onclick="clear_input()">C</div>
            <div class="calc_btn" onclick="sin()">sin</div>
        </div>
        
        <div class="buttons_row">
            <div class="calc_btn" onclick="save_digit(4)">4</div>
            <div class="calc_btn" onclick="save_digit(5)">5</div>
            <div class="calc_btn" onclick="save_digit(6)">6</div>
            <div class="calc_btn" onclick="equal()">=</div>
            <div class="calc_btn" onclick="cos()">cos</div>
        </div>
        
        <div class="buttons_row">
            <div class="calc_btn" onclick="save_digit(7)">7</div>
            <div class="calc_btn" onclick="save_digit(8)">8</div>
            <div class="calc_btn" onclick="save_digit(9)">9</div>
            <div class="calc_btn" onclick="save_digit(0)">0</div>
            <div class="calc_btn" onclick="tan()">tan</div>
        </div>
    </div>
</body>
</html>